html, body{
    height: 100%;
}
nav.navbar {
    margin-bottom: 210px;
    background: #276678;
    /* height:   130px; */
}
div#product-details {
    height: 50rem;
}
.col-md-5 img {
    margin-left: 300px;
    width: 30rem;
}

.col-md-7 {
    margin-top: 45px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.prod-title{
    margin-bottom: 70px;
}
.col-md-7 img {
    margin-top: 0px ;
    background: white;
    width: 200px;
}

.col-md-7 input#quantity {
    margin:50px 0px 0px 0px;
}

h5.card-price1 {
    margin-top: 100px;
}
.col-md-7 button {
    padding: 10px;
    margin-left: 40px;
}

footer  {
    background: #276678;
    color: white;
    text-align: center;
    padding-top: 20px;
}
div.footer-content p{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: white;
}
div.footer-content ul.social i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 40px;
}

.fab {
    opacity: 0.6;
    transition 0.3s;
}

.fab:hover {opacity: 1}