/* NAVBAR STYLING */
li {
        list-style: none;
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        width: 100px;
        margin:20px 30px;
}

span#title {
        text-align: center;
        margin-bottom: 20px;
}

.navbar-btn {
        margin-right: 100px;
}
/* PRODUCTS DIV STYLING */
.card-columns {      
        margin-left: 300px;
}

span {
        display: flex;
        justify-content: center;
        align-items: center;
}

img.card-img-top {
        margin: 0px 0px 30px 0px;
}

button.btn-dark {
        display: flex;
        margin-left: 70px;
}


